.form {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.footer {
  color: white;
}
.footerText {
  font-weight: 500;
}
.footerLink {
  font-weight: bold;
  color: white;
  font-size: 20px;
  text-decoration-line: underline;
  text-decoration-color: white;
}
